/* ========================= */
/*        LIGHT THEME        */
/* ========================= */

:root{

  --background:
  linear-gradient(
      135deg,
      #f8fafc,
      #eef2ff,
      #ffffff
  );

  --surface:#ffffff;

  --surface-2:#f8fafc;

  --text:#111827;

  --text-light:#64748b;

  --border:#dbe3ef;

  --input:#f8fafc;

  --shadow:
      0 15px 45px rgba(0,0,0,.08);

}

/* ========================= */
/*         DARK THEME        */
/* ========================= */

[data-theme="dark"]{

  --background:
  radial-gradient(
      circle at top,
      #312e81,
      #111827,
      #020617
  );

  --surface:#111827;

  --surface-2:#1e293b;

  --text:#ffffff;

  --text-light:#cbd5e1;

  --border:#334155;

  --input:#1e293b;

  --shadow:
      0 0 35px rgba(99,102,241,.25);

}