.navbar{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 60px;

}

.navLogo{

    width:90px;

    cursor:pointer;

}

.themeButton{

    width:46px;

    height:46px;

    border:none;

    border-radius:50%;

    background:white;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

    cursor:pointer;

}