/* ==========================================
            DYSLEARN COLOR SYSTEM
========================================== */

/* ---------- LIGHT THEME ---------- */

:root{

    --background:#f8faff;

    --surface:#ffffff;

    --surface-2:#f1f5f9;

    --primary:#6366f1;

    --primary-dark:#4f46e5;

    --primary-light:#e0e7ff;

    --text:#1f2937;

    --text-light:#64748b;

    --border:#e2e8f0;

    --input:#ffffff;

    --success:#22c55e;

    --warning:#f59e0b;

    --danger:#ef4444;

    --shadow:
        0 12px 35px rgba(15,23,42,.08);

}


/* ---------- DARK THEME ---------- */

body[data-theme="dark"]{

    --background:#0f172a;

    --surface:#1e293b;

    --surface-2:#334155;

    --primary:#818cf8;

    --primary-dark:#6366f1;

    --primary-light:#312e81;

    --text:#f8fafc;

    --text-light:#cbd5e1;

    --border:#475569;

    --input:#334155;

    --success:#22c55e;

    --warning:#fbbf24;

    --danger:#f87171;

    --shadow:
        0 18px 40px rgba(0,0,0,.35);

}